header {
  overflow: hidden;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: cover;
  filter: blur(3px);
}

.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .search-bar-inner h4 {
  color: #9b4b4b;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img{
  height: 250px;
}

.card-title{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 992px) {
  
  .card img{
    height: 220px;
  }
}

@media screen and (max-width: 768px) {
  
  .restaurant-show-title {
    font-size: 2rem;
  }
  .card img{
    height: 280px;
  }
}

@media screen and (max-width: 575px) {
  
  .card img{
    height: auto;
  }
  
}

/* 評價相關設定 */
.rating {
  width: 170px; 
} 

/* 未點擊星星狀態 */
.rating > label { 
  font-size: 30px;
  float: right; 
  display: inline; 
  padding: 0; 
  margin-top: -5px; 
  position: relative; 
  width: 1.0em; 
  cursor: pointer; 
  color: #000; 
} 

/* 選擇的星星右邊星星顏色透明 */
.rating > label:hover, 
.rating > label:hover ~ label, 
.rating > input.radio-btn:checked ~ label { 
  color: transparent; 
} 

/* 選擇的星星左邊星星都著色 */
.rating > label:hover:before, 
.rating > label:hover ~ label:before, 
.rating > input.radio-btn:checked ~ label:before, 
.rating > input.radio-btn:checked ~ label:before { 
  content: "\2605"; 
  position: absolute; 
  left: 0; 
  color: #ff7300f3; 
} 